@font-face {
  font-family: "nunito";
  src: url("./../public/fonts/nunito/Nunito-Regular.ttf");
}
@font-face {
  font-family: "off";
  src: url("./../public/fonts/offside/Offside-Regular.ttf");
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: #252e3a;
}
* {
  outline: 0;
  text-decoration: none;
  font-family: "nunito";
}
svg {
  cursor: pointer;
}
