@font-face {
  font-family: "nunito";
  src: url("./../public/fonts/nunito/Nunito-Regular.ttf");
}
@font-face {
  font-family: "off";
  src: url("./../public/fonts/offside/Offside-Regular.ttf");
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: #252e3a;
}
* {
  outline: 0;
  text-decoration: none;
  font-family: "nunito";
}
svg {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #6783aa;
}

::-webkit-scrollbar-thumb {
  background: #253649;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
