.pg {
  width: 100%;
  height: auto;
}
.home_container {
  width: 100%;
  height: 100vh;
}
.header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.colin {
  position: absolute;
  left: 20px;
  top: 20px;
}
.main_logo {
}

.geoloc {
  position: absolute;
  right: 20px;
  top: 23px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50px;
  width: 100px;
  border: 2px solid #fff;
  height: 40px;
  background: rgba(255, 255, 255, 0.418);
}
.flag_geo {
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
  height: 30px !important;
  align-items: center;
  justify-content: center;
  display: flex;

  overflow: hidden !important;
}
.geoloc p {
  color: #fff;
  font-size: 14px;
}
.desc {
  width: 100%;
  height: auto;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

#desc_txt {
  color: #fff;
  margin: auto;
  width: 72%;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
}
#bored {
  color: #fff;
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  font-weight: bold;
}
.bto {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 20px;
  display: flex;
}
.social {
  display: absolute;
  left: 20px;
  margin-left: 20px;
}

@media (max-width: 762px) {
  #desc_txt {
    width: 90%;
    font-size: 27px;
  }
  #bored {
    font-size: 40px;
  }
}
